body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

.vertical-menu {
    background-color: #272727;
    color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
  }
  
  .logo {
    width: 100px;
    position: relative;
}

.logo img {
  width: 100%;
  position: absolute;
  z-index: 1;
}


.vertical-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.vertical-menu li {
    margin-right: 20px;
}

.vertical-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.vertical-menu a:hover {
    text-decoration: underline;
}

.slideshow{
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
  }
  
  .slideshow img {
    display:none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*Defines a translation, using only the value for the Y-axis*/
    z-index: 0;
  }

.smith {
    background-color: #2EB398;

}

.aboutcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    width: 100%; 
    max-width: 960px;
    padding: 5%;
    
}

.about-section h2 {
    margin-top: 0%;
    color: #185f51;
    
}

.about-section h1, p {
    margin-bottom: 0%;
    color: white;
}

.profilepic {
    display: flex;
    align-items: center;
    width: 70%;
}

.profilepic img {
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 10%;
}


/* Til form */

.contactcontainer {
    display: flex;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0;
    margin-right: 32px;
  }

  footer .title {
    color: white;

  }
  
  .booking {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .content {
    display: flex;
    max-width: 960px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-text {
    flex: 1;
    max-width: 200px;
  }

  .contact-text p{
    margin: 0;
  }

  .contactcontainer input[text=text] + input[text=text],
  .contactcontainer input[text=text] + textarea {
    margin-top: 10px;
  }

  
  
  input[text=text] {
    border: 0;
    background-color: rgb(207, 204, 204);
    padding: 12px 10px;
    width: 100%;
    border-radius: 7px;
    display: flex;
    box-sizing: border-box;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 10px;
  }

  textarea {
    background-color:  rgb(207, 204, 204);
    display: block;
    width: 100%;
    border: 0;
    border-radius: 7px;
    resize: none;
    padding: 12px 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  input[type=submit] {
    background-color: #2EB398;
    color: white;
    border: 1px solid #2EB398;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
  }



  footer {
    background-color: rgb(71, 71, 71);
    
  }
